body {
	text-align: center !important;
	background-image: url("./picture/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

	.layer {
		margin: 30px;
		margin-top: 8px;
		background-size: cover;
		background-color: white;
		background-repeat: no-repeat;
		background-attachment: fixed;
		opacity: 0.6;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
height: 100%;		
		filter: alpha(opacity=60);
		z-index: -1;

	}
	
.nav ul {
	text-align=center;
}

h1 {
	color: black;
	font: Impact;
}